.dropdown-container {
    /* background-color: green; */
}
.page-list-elem {
    display: flex;
    align-items: center; /* Align dropdown and text in the center */
    width: 130px; /* MAKE NON-FIXED */
    font-size: 16px;
    /* background-color: red; */
}

.page-list-elem-link {
    text-decoration: none;
    color: white;
    display: block;
    flex-grow: 1;
    width: 100%;
    font-family: Manrope;
    text-align: left;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background: red; */
}