.container {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: Manrope;
    background-color: #333333;
    flex: 1;
    justify-content: center;
}
.delete-page-button {
    position: absolute;
    bottom: 5px;
    background-color: transparent;
    border-width: 1px;
    border-color: red;
    color: red;
}