.quill {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.ql-toolbar {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #cccccc !important;
    padding: 0 80px 1em 72px !important;
}
.ql-blank::before {
    color: #929292 !important;
    /* padding: 1em 80px 1em 80px !important; */
    position: static !important;
}
.ql-editor {
    padding: 0 !important;
}
.ql-container {
    flex: 1;
    border: none !important;
    padding: 1em 80px 1em 80px !important;
}
.ql-clean {
    color:white;
}
.ql-stroke {
    stroke: white !important;
}
.ql-fill {
    fill: white !important;
}
.ql-picker {
    color: white !important;
}
.ql-picker-options {
    background-color: #333333 !important;
}